body {
  background-image: linear-gradient(
    to bottom,
    rgba(184, 65, 65, 0),
    rgb(11, 230, 230)
  );
  padding-top: 15px;
  font-family: "Trebuchet MS";
  text-align: center;
}
h1 {
  font-size: 25px;
  font-family: "Trebuchet MS";
  color: black;
  text-align: center;
  padding-top: 20px;
}
h2 {
  color: red;
  font-size: 18px;
  font-family: "Trebuchet MS";
  text-align: center;
  padding-block: 0px;
}
h4 {
  color: black;
  font-size: 15px;
  font-style: nomral;
  font-family: "Trebuchet MS";
  text-align: center;
  padding-block: opx;
  margin-top: 0px;
  margin-bottom: 0px;
}
#FullName {
  background-color: rgba(255, 255, 255, 0.683);
  border: 2px solid rgba(255, 255, 255, 0.683);
  margin-right: 280px;
  margin-left: 280px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

input {
  text-align: center;
  font-size: 14px;
}
button {
  font-size: 14px;
  text-align: center;
  display: inline-block;
  border-radius: 10px;
  border: 4px double;
}
